@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
  background-color: #06002a;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(198, 83, 83);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start from above the top of the viewport */
  }
  to {
    transform: translateY(0); /* End at the navbar's natural position */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below the final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the final position */
  }
}


body {
  background-color: #ffffff; /* Set the background color for the entire website */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.main-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between; /* Aligns all items on the main axis to the center */
  align-items: center;
  animation: slideDown 0.5s ease forwards;
  padding: 10px;
}

.footer {
  background-color: #1F2F34;
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.footer-logo {
  width: 13rem;
}

.footer-header {
  color: white;
  font-size: 20px;
}

.footer-item {
  color: white;
  font-size: 16px;
  line-height: 0px;
}

.footer-item:hover {
  cursor: pointer;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  gap: 2px;
}

.horizontal-stretched {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 90vw;
  overflow-x: hidden;
}

.social-media-footer:hover {
  cursor: pointer;
}

.white-text {
  color: white;
}

p {
  color: black;
  position: relative;
}

h4, h3, h2, p {
  font-family: Poppins;
}

.center {
  text-align: center;
}

.titles{
  align-items: flex-start;
  justify-content: start;
}

.home-body1{
  top: 57px;
  left: -387px;
}

.home-body2{
  top: 29px;
  left: -406px;
}

.home-body3{
  top: 0px;
  left: -478px;
}

.nav-item-right {
  margin-right: 3.5rem;
}

.logo {
  height: auto;
  width: 12%;
  margin-left: 3.5rem;
}

.nav-brand {
  justify-content: center; /* Centers the logo horizontally */
  display: flex;
}

/* Targets links inside nav-item-left and nav-item-right specifically */
.nav-item-left a, .nav-item-right a {
  color: rgb(7, 17, 89);
  font-weight: 500;
  text-decoration: none;
  margin: 0 40px; /* Adjusts spacing between the items */
  padding: 10px 0;
  transition: color 0.3s ease;
}

/* Adds a hover effect */
.nav-item-left a:hover, .nav-item-right a:hover {
  color: #ccc;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Or use space-between based on your preference */
  align-items: center; /* Keeps items vertically centered */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensures the list takes full width of its container */
}

.nav-list li {
  margin: 0 100px; /* Adds horizontal margin to each list item */
}

.nav-list li a {
  display: block;
  color: #3291a9;
  font-size: large;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;
  opacity: 70%;
  transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease; /* Add transition effect */
}

.nav-list li a:hover {
  opacity: 100%;
  color: rgb(254, 254, 255); /* White radiance effect for text */
  font-size: 18px; /* Adjust the desired font size */
}

.book-now {
  display: inline-block; /* Allows width and height to be set */
  padding: 0.5rem 1.25rem;
  border-radius: 30px; /* Rounded corners */
  background-color: #2AA0C5; /* A shade of blue */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  border: none; /* NEW - remove default button border */
  outline: none; /* NEW - remove focus outline */
  cursor: pointer; /* NEW - ensure it's clear this is clickable */
  text-align: center; /* NEW - ensure text is centered */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.book-now:hover {
  background-color: #2588A7; /* Darker shade of blue on hover */
}

.book-now-large {
  display: inline-block; 
  padding: 0.75rem 2rem;
  border-radius: 30px; 
  background-color: #2AA0C5; 
  color: white; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
  border: none;
  outline: none; 
  cursor: pointer; 
  text-align: center; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  gap: 5px;
}

.book-now-large:hover {
  background-color: #2588A7; /* Darker shade of blue on hover */
}


.book-now-text {
  margin: 10px;
  font-weight: bold;
}

/* App.css or your custom CSS file */
.home-background {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
  font-family: 'Gilroy', sans-serif; 
  font-size: 50px;
  height: 100%;
  width: 100%;
  gap: 1px;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transform: translateY(20px); /* Move elements down by 20px initially */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.initial-hidden .hidden {
  opacity: 0;
  transform: translateY(20px); /* Keep the transformed state */
  visibility: hidden; /* Ensures elements are not visible */
}

.start-animation .hidden {
  animation: fadeIn 1s ease forwards;
  visibility: visible;
}

.show {
  opacity: 1;
  transform: translateY(0); /* Reset the position */
}

.logo {
  height: auto;
  width: 12%;
  margin-left: 1.5rem;
}

.logo-image {
  height: auto;
  width: 10%;
}

.title {
  height: auto;
  width: 20%;
}

.centered-container-no-height {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.centered-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.blue {
  background-color: #2AA0C5;
}

.rectangle-fw {
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 10rem; /* May need adjustment */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.top-padding-1 {
  padding-top: 1rem;
}

.top-padding-3 {
  padding-top: 3rem;
}

.bot-padding-12 {
  padding-bottom: 12rem;
}

.vertical-top-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.vertical-bottom-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.vertical-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.gap-1 {
  gap: 1rem;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-start {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 20px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.less-gap {
  gap: 0px;
}

.more-gap {
  gap: 3.5rem;
}

.home-text {
  justify-content: start;
  align-items: start;
  text-align: start;
  font-weight: 600;
  color: black;
  font-size: 48px;
}

.home-descriptions {
  justify-content: start;
  align-items: start;
  text-align: start;
  font-size: 22px;
  font-weight: 300;
}

.small-text {
  font-size: 16px;
  font-weight: 300;
  top: 40px;
  line-height: 0px;
}

/* Remove the bottom margin from the last item to avoid extra space at the bottom */
.centered-container > *:last-child {
  margin-bottom: 0;
}
.home-description2,
.home-description {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.packages-text{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5%;
  text-align: justify;
  font-weight: bold;
}


.images {
  width: 100%;
}

.home-image {
  height: auto;
  width: 15%;
  border-radius: 10px;
  margin: 0 50px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); /* Example shadow */
}

.plus-imagetop {
  position: absolute;
  z-index: -1;
}

.plus-imagebot {
  position: absolute;
  z-index: -1;
}

.dots {
  position: absolute;
  z-index: -1;
}

.group-dots {
  position: absolute;
  z-index: -1;
}

.dots {
  bottom: 20%;
  right: 26%;
}

.plus-imagetop{
  right: 15%; /* Adjust left position if needed */
  top: 15%;
}

.plus-imagebot {
  left: 5%; 
  bottom: 10%
}

.group-dots {
  left: 20%;
}

.overlay {
  position: absolute;
  top: 38%;
  left: 51%;
  width: 30%;
  height: 118%;
  background-color: #93ebff;
  z-index: 0;
  border-radius: 50%;
  opacity: 7%;
}

.overlay2 {
  position: absolute;
  top: 29%;
  left: 68%;
  width: 20%;
  height: 75%;
  background-color: #93ebff;
  z-index: 0;
  border-radius: 50%;
  opacity: 6%;
}

.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
}

.learn-more:hover p {
  cursor: pointer;
  color: #336474;
}

.learn-more:hover .circle {
  cursor: pointer;
  background-color: #336474; /* New background color for the circle on hover */
}

.learn-more p {
  font-weight: 600;
  font-size: 24px;
  color: #529FB7;
  transition: color 0.3s; /* Smooth transition for text color */
}

.circle {
  border-radius: 50%;
  background-color: #529FB7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.testimonial-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 38px;
  color: white;
}

.testimonial-text {
  color: white;
  width: 75%;
  font-size: 20px;
  font-weight: 400;
  padding: 0 3rem;
  text-align: center;
}

.testimonial-name {
  color: white;
  font-size: 26px;
  font-weight: 500;
  padding: 0 3rem;
  text-align: center;
}

.small-button {
  border-radius: 15px;
  background-color: #69B8D1;
  padding: 0 1.5rem;
  transition: background-color 0.3s ease; 
}

.small-button:hover {
  cursor: pointer;
  background-color: #336474;
}

.book-now-button {
  display: inline-block; /* Allows width and height to be set */
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 40px;
  border-radius: 30px; /* Rounded corners */
  background-color: #529FB7; /* A shade of blue */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  font-size: 25px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.book-now-button:hover {
  background-color: #336474; /* Darker shade of blue on hover */
  cursor: pointer;
}

.book-text {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgb(254, 254, 255);
  margin-bottom: -15px;
}
/* Existing styles ... */

.book-now-link{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  background-color: #529FB7;
  color: white;
  text-decoration: none;
  /* transition: background-color 0.3s ease; */
  outline: none; /* Remove the default focus outline */
}

.book-now-link:hover {
  background-color: #336474;
  transform: none; /* Disable any transformations on hover */
  cursor: pointer;
}



@media screen and (max-width: 1920px) {
  .home-description {
    padding-top: 3.5rem;
  }

}
.card-title{
  
  margin-top: 115px;
  
  margin-right: auto;
  margin-bottom: 0px;
 
  font-size: 24px;
  color: #FCF9F9;
}
.booking-cards{

    display: flex;
    flex-direction: column;
    width: 371px;
    height: 349px;
    background-color: #012D61;
    padding-left: 32px;  
}
.card-description{
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 280px;
  font-size: 14px;
  text-align: left;
  color: #FCF9F9;
}
.book-now-card{
  width: 144px;
  height: 27px;
  border-radius: 0px;
  box-sizing: border-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  margin-left: 140px;
  margin-right: 32px;
  color: #10217D;
  font-size: 16px;
  background-color: #FFFFFF;
  
}
.card-price {
  margin-right: auto;
  font-size: 24px;
  color: #FCF9F9;
}

.card-footer {
  margin-right: auto;
}

.contact-card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  width: 75vw;
  color: black;
  display: flex;
  position: absolute; 
  z-index: 2; 
  top: 80%;
}

.contact-card h4 {
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.styled-input {
  border: 2px solid #DFDFDF;
  border-radius: 20px;
  padding: 1rem;
  font-size: 18px;
  width: 100%;
  font-family: Poppins;
}

.large-input {
  width: 100%; 
  height: 7rem;
  resize: vertical;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width:thin ;
  scrollbar-color: #c0c0c0 transparent;
  scroll-behavior: smooth;
}

.large-input::-webkit-scrollbar{
  width: 8px;
}

.large-input::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 20px;
}

.styled-input::placeholder {
  color: #ccc;
}

.styled-input:focus {
  border-color: #529FB7; 
}

.input-padding {
  padding: 1.5rem 5rem 1.5rem 4rem;
}

.horizontal-input {
  display: flex;
  gap: 1rem;
}

.full-w-input {
  width: 100%;
}

.contact-image {
  width: 30vw;
  margin-left: auto; 
  overflow: hidden;
  border-radius: 0 20px 20px 0;
}

.contact-image img {
  width: auto;
  height: 100%;
  border-radius: 0 20px 20px 0; 
}

.send-message {
  padding: 1rem 2rem;
  border-radius: 30px; 
  background-color: #2AA0C5; 
  color: white; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
  border: none;
  outline: none; 
  cursor: pointer; 
  text-align: center; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.send-message:hover {
  background-color: #2588A7; /* Darker shade of blue on hover */
}

.send-message circle {
  background-color: #69B8D1;
}

.circle-button {
  border-radius: 50%; 
  height: 65px;
  width: 65px;
  background-color: #2AA0C5; 
  color: white; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
  border: none;
  outline: none; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.circle-button:hover {
  background-color: #2588A7; /* Darker shade of blue on hover */
}

.book-now-card:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  cursor: pointer;
}

.book-now-card:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.book-now-card:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.book-now-card:focus {
  outline: 1px transparent;
}

.book-now-card:before {
  display: none;
}

.book-now-card:-webkit-details-marker {
  display: none;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 90px ;
  margin-bottom: 20px;
}

